/* 
	Main LESS file
	Overwriting the default Bootstrap styles
*/
body {
  font-family: 'Open Sans';
}
.close-x {
  font-size: 5px;
  top: 0px;
}
/* NavBar */
.navbar {
  position: absolute;
  width: 100%;
  top: 0px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
  width: 100%;
}
.navbar-default {
  background-color: transparent;
  border: 0px;
  font-weight: bold;
}
.navbar-default .navbar-nav li {
  transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-nav li a {
  color: #e67e22;
  text-transform: uppercase;
}
.navbar-default .navbar-nav li a:hover {
  color: #d35400;
}
.navbar-default .navbar-nav li a:visited {
  color: #e67e22;
}
.navbar-default .navbar-nav li:hover {
  transform: scale(1.06);
}
.navbar-default .navbar-nav .active a {
  color: #d35400;
  background: transparent;
  border-bottom: 1px solid #d35400;
  padding-bottom: 3px;
}
.navbar-default .navbar-nav .active a:hover {
  color: #d35400;
  background: transparent;
  border-bottom: 1px solid #d35400;
  padding-bottom: 3px;
}
.navbar-default .navbar-nav .active a:visited {
  color: #d35400;
  background-color: none;
}
/* Header */
.page-header {
  margin: 30px 100px;
  padding: 30px;
  background-image: url('../../images/header2.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 400px;
  color: #2c3e50;
  text-align: center;
  text-transform: uppercase;
}
.page-header h1 {
  transition: color 0.2s ease-in-out;
  text-align: right;
  margin-right: 100px;
  margin-top: 100px;
}
.page-header h1:hover {
  color: #bdc3c7;
}
/* Thumbnails */
.thumbnail {
  border-radius: 0px;
  border: 0px;
  transition: all 0.2s ease-in-out;
}
.thumbnail .caption {
  padding: 16px;
  color: #2c3e50;
}
.thumbnail .caption h3 a {
  color: #34495e;
}
.thumbnail .caption h3 a:hover {
  color: #2980b9;
  text-decoration: none;
  cursor: pointer;
}
.thumbnail:hover {
  transform: scale(1.02);
}
.btn-primary {
  border-radius: 0px;
  background-color: #34495e;
  border: 0px;
}
.btn-primary:hover {
  background-color: #2c3e50;
}
/* Post container */
.post-container {
  background-color: #fff;
  border: 1px solid #bdc3c7;
  padding: 25px;
  display: inline-block;
}
.post-container img {
  float: right;
  margin-left: 10px;
}
.post-container h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #34495e;
  font-weight: bold;
}
.post-container p {
  color: #2c3e50;
}
.post-container:after {
  clear: both;
  display: block;
}
/* Contact page */
#contact {
  position: relative;
  overflow: auto;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}
#contact input,
#contact textarea {
  width: 433px;
  margin: 3px 0px;
  border: 0px;
  box-shadow: none;
}
#contact label {
  margin-top: 13px;
}
#contact button {
  margin: 25px 15px;
}
/* Layout variations */
#main {
  padding: 30px 0px;
  width: 70%;
  margin: 0 auto;
}
#main.grid .container {
  width: 48%;
  display: inline-block;
}
#main.grid .container .thumbnail img {
  margin-top: 25px;
}
#main.list .container {
  width: 100%;
}
#main.list .container .thumbnail {
  display: inline-block;
}
#main.list .container .thumbnail img {
  float: left;
  width: 40%;
}
#main.list .container .thumbnail .caption {
  float: right;
  width: 55%;
}
#main.list .container .thumbnail:after {
  clear: both;
  display: block;
}
/* Colour scheme variations */
.light {
  background-color: #ecf0f1;
}
.light #main .thumbnail {
  background-color: #fff;
}
.dark {
  background-color: #34495e;
}
.dark .page-header {
  color: #ecf0f1;
}
.dark #main .thumbnail {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.dark #main .thumbnail h3 a {
  color: #ecf0f1;
}
.dark #main .thumbnail h3 a:hover {
  color: #bdc3c7;
}
.dark #main .thumbnail p {
  color: #fff;
}
.dark #main .thumbnail .btn-primary {
  background-color: #ecf0f1;
  color: #2c3e50;
}
.dark #main .thumbnail .btn-primary:hover {
  background-color: #bdc3c7;
  color: #2c3e50;
}
.dark #main .post-container {
  background-color: #2c3e50;
  border: 0px;
}
.dark #main .post-container h3 {
  color: #ecf0f1;
}
.dark #main .post-container p {
  color: #fff;
}
/* Text size variations */
h3.large {
  font-size: 28px;
}
h3.small {
  font-size: 14px;
}
