<div id="main" class="{{ ctrl.layout }}">
	<div id="contact">
		<h3>Contact</h3>
		<p>Got questions? Feel free to contact me!</p>
		<div class="col-md-2">
			<label>Name</label>
		</div>
		<div class="col-md-10">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon2">
			</div>
		</div>
		<div class="col-md-2">
			<label>Email</label>
		</div>
		<div class="col-md-10">
			<div class="input-group">
				<input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
			</div>
		</div>
		<div class="col-md-2">
			<label>Subject</label>
		</div>
		<div class="col-md-10">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Subject" aria-describedby="basic-addon2">
			</div>
		</div>
		<div class="col-md-2">
			<label>Message</label>
		</div>
		<div class="col-md-10">
			<div class="input-group">
				<textarea type="text" class="form-control" placeholder="Message" aria-describedby="basic-addon2"></textarea>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Send</button>

	</div>
</div>