/* Dashboard styles */
/* Colour variables */
body {
  font-family: 'Open Sans';
  color: #2c3e50;
  background-color: #ecf0f1;
  margin: 0px;
}
#header {
  width: 100%;
  min-height: 70px;
  background-color: #fff;
  border-bottom: 2px solid #bdc3c7;
}
#header #profile {
  position: absolute;
  right: 10px;
  padding: 10px;
}
#header #profile a {
  vertical-align: top;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #bdc3c7;
  font-size: 13px;
  padding: 5px;
}
#header #profile img {
  width: 48px;
  height: 48px;
}
#header #logo {
  position: absolute;
  padding: 10px;
}
#header #logo img {
  height: 48px;
}
#nav-bar {
  top: 70px;
  width: 125px;
  bottom: 0px;
  position: fixed;
  background-color: #2c3e50;
}
#nav-bar ul {
  margin: 0px;
  padding-left: 0px;
}
#nav-bar ul li {
  text-align: center;
  height: 75px;
  border-bottom: 2px solid #bdc3c7;
  padding: 20px;
  display: block;
}
#nav-bar ul li span {
  margin: auto;
  display: inherit;
  padding-bottom: 10px;
}
#nav-bar ul li span img {
  width: 48px;
  height: 48px;
}
#nav-bar ul li a {
  display: inherit;
  margin: auto;
  text-transform: uppercase;
  color: #bdc3c7;
  font-size: 11px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
}
#nav-bar ul li a:hover,
#nav-bar ul li .active {
  color: #26b99a;
}
#dashboard-main {
  margin-left: 125px;
  padding: 40px;
}
/* Headings and text styles */
h1 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
}
h2 {
  font-size: 15px;
  font-weight: 400;
  margin: 8px 0px;
}
label {
  display: block;
  font-size: 13px;
  width: 125px;
  vertical-align: top;
}
input,
textarea {
  border: 2px solid #ecf0f1;
  padding: 0px 5px;
  background-color: #fff;
  height: 30px;
  width: 280px;
  transition: border .3s;
  font-family: 'Open Sans';
  font-size: 12px;
  color: #2c3e50;
}
input {
  margin-right: 150px;
}
textarea {
  height: 70px;
}
input:focus,
textarea:focus {
  border: 2px solid #3498db;
  outline: none;
}
button {
  padding: 8px 20px;
  color: #fff;
  border: none;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
}
button img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  margin-top: 2px;
}
.btn-blue {
  background-color: #3498db;
}
.btn-purple {
  background-color: #9b59b6;
}
.btn-dark {
  background-color: #2c3e50;
}
/* Home styles */
.stats {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.stats #graph,
.stats #graph:before {
  width: 65%;
}
.stats #graph {
  float: left;
  margin-right: 40px;
}
.stats #graph:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  left: 0;
  background: #fff;
  margin-right: 40px;
}
.stats #versions-list,
.stats #versions-list:before {
  width: 25%;
  padding: 20px;
}
.stats #versions-list {
  float: left;
  margin: 0 auto;
}
.stats #versions-list ul {
  list-style: none;
}
.stats #versions-list ul li {
  cursor: pointer;
}
.stats #versions-list ul span {
  width: 17px;
  height: 17px;
  background-color: #2ecc71;
  display: inline-block;
  margin-right: 30px;
}
.stats #versions-list:before {
  left: calc(65% + 40px);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #fff;
}
.stats:after {
  clear: both;
  display: block;
  content: "";
}
.versions {
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.versions .thumbnail {
  display: inline-block;
  width: 20%;
  background-color: #fff;
  padding: 10px;
  margin-right: calc(20% / 6.5);
  margin-bottom: 25px;
}
.versions .thumbnail img {
  max-width: 100%;
  max-height: 100%;
}
#versions-list:hover ~ .versions {
  background-color: #000;
}
/* Create styles */
form {
  display: inline-block;
  width: 70%;
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.input-field {
  padding: 10px 0px;
  display: block;
}
.input-field input,
.input-field label {
  display: inline-block;
}
#variants {
  width: 100%;
  display: inline-block;
  margin: 20px 0px;
}
.variant-box {
  width: 250px;
  border-right: 1px solid #bdc3c7;
  text-align: center;
  padding: 10px;
  margin: 10px 0px;
  display: inline-block;
}
.variant-box label {
  width: auto;
}
.variant-box input {
  width: 200px;
  margin: 20px auto;
}
.btn-close {
  text-align: right;
  margin-right: 5px;
}
.btn-close img {
  cursor: pointer;
  width: 10px;
  height: 10px;
}
.ng-move,
.ng-enter,
.ng-leave {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.ng-leave.ng-leave-active,
.ng-move,
.ng-enter {
  opacity: 0;
}
.ng-leave,
.ng-move.ng-move-active,
.ng-enter.ng-enter-active {
  opacity: 1;
}
#deploy-btn {
  vertical-align: top;
  margin-left: 200px;
  margin-top: -30px;
}
#feature-btn {
  /*margin-top: 30px;*/
}
