<!doctype html>
<html>
	<head>
		<base href="/" />
		<script src="static/bower_components/angular/angular.js"></script>
		<script src="static/bower_components/angular-route/angular-route.js"></script>
		<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="static/js/app.js"></script>
		<script src="static/dashboard/controllers/analytics.controller.js"></script>
		<!-- <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css" /> -->
		<link rel="stylesheet" href="static/styles/css/dashboard.css" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">  		
	</head>
	<body ng-app="dashboard">
		<div id="header">
			<div id="profile">
				<a href="/#/account">My Account</a>
				<img src="static/dashboard/images/icons/user.png" alt="My Account" />
			</div>
		</div>
		<div id="nav-bar">
			<ul class="nav">
				<li>
					<span><img src="static/dashboard/images/icons/home-icon.png" alt="Home"/></span>
					<a href="#">Home</a>
				</li>
				<li>
					<span><img src="static/dashboard/images/icons/create-icon.png" alt="Create"/></span>
					<a href="/#/create">Create</a>
				</li>
				<li>
					<span><img src="static/dashboard/images/icons/analytics-icon.png" alt="Analytics"/></span>
					<a href="/#/analytics">Analytics</a>
				</li>
				<li>
					<span><img src="static/dashboard/images/icons/settings-icon.png" alt="Settings"/></span>
					<a href="/#/settings">Settings</a>
				</li>
			</ul>
		</div>

		<!-- NG-VIEW -->
		<div ng-view id="dashboard-main"></div>
	</body>
</html>