<!doctype html>
<html>
	<head>
		<base href="/" />
		<meta charset="UTF-8" />
		<title>Dashboard</title>
		<script src="static/bower_components/angular/angular.js"></script>
		<script src="static/bower_components/angular-route/angular-route.js"></script>
		<script src="https://d3js.org/d3.v3.min.js"></script>
		<!-- <script src="static/dashboard/d3/d3.min.js"></script> -->
		<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="static/js/app.js"></script>
		<script src="static/dashboard/controllers/analytics.controller.js"></script>
		<script src="static/dashboard/controllers/create.controller.js"></script>
		<!-- <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css" /> -->
		<link rel="stylesheet" href="static/dashboard/css/main.css" />
		<link rel="stylesheet" href="static/dashboard/css/graph.css" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">  		
	</head>
	<body ng-app="dashboard">
		<div id="header">
			<div id="profile">
				<a href="/#/account">My Account</a>
				<img src="static/dashboard/images/icons/user.png" alt="My Account" />
			</div>
		</div>
		<div id="nav-bar" ng-controller="selectPage">
			<ul class="nav" >
				<li ng-click="selectLink($index)" ng-repeat="page in pages">
					<span><img src="{{ page.icon|angular }}" alt="{{ page.title|angular }}"/></span>
					<a href="{{ page.link|angular }}" ng-class="{active : $index == selectedLink}">{{ page.title|angular }}</a>
				</li>
			</ul>
		</div>

		<!-- NG-VIEW -->
		<div ng-view id="dashboard-main"></div>
	</body>
</html>