<!doctype html>
<html>
	<head>
		<base href="/" />
		<script src="static/bower_components/angular/angular.js"></script>
		<script src="static/bower_components/angular-route/angular-route.js"></script>
		<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript">
			window.layoutType = JSON.parse('{{layout|tojson}}');
			console.log(window.layoutType);
		</script>
		<script src="static/js/app.js"></script>
		<script src="static/js/controllers/index.controller.js"></script>
		<script src="static/js/controllers/about.controller.js"></script>
		<script src="static/js/controllers/contact.controller.js"></script>
		<link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="static/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="static/styles/css/main.css" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">  		
	</head>
	<body ng-app="app" class="{{ layout.colourScheme }}" ng-controller="mainController">
		<!-- Close button for CasperJS -->
		<a href="#" class="close-x">x</a>

		<!-- Ratings box -->
		<div id="rating-box">
			<div ng-init="rating = star.rating + 1"></div>
			<div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
		</div>

		<!-- NAVBAR -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#">Brand</a> -->
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="/#/about">About</a></li>
						<li><a href="/#/contact">Contact</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="page-header">
			<h1>Anda's project blog</h1>
		</div>

		<!-- NG-VIEW -->
		<div ng-view></div>
	</body>

<script type="text/javascript">
	var time = new Date();

	$(document).ready(function() {
		startTime = time.getTime();
		console.log(startTime);

		var registerTime = function() {
			endTime = new Date();
			console.log(endTime.getTime());
			var time = endTime - startTime;
			console.log(time);
			$.ajax({ 
				type: "POST",
				async: false,
				url: "/registerTime",
				contentType: "application/json",
				data: JSON.stringify({
					time: time
				})
			});
		};

		$(".close-x").click(function(){
			registerTime();
		});

		window.onbeforeunload = function() {
			registerTime();
			// return "hello";
		}
	});
</script>	

</html>