<h1>Current stats</h1>

<div class="stats">
	<div id="graph">

	</div>
	<div id="versions-list">
		Version ranking
		<ul ng-repeat="version in ctrl.versions">
			<li><span class="version-square" ng-style="{ 'background-color': ctrl.colours[ {{ version.number }} ]}"></span>{{ version.title }} - {{ version.percentage }} %</li>
		</ul>
	</div>
</div>

<h1>Versions</h1>
<div class="versions">
	<div class="thumbnail" ng-repeat="version in ctrl.versions">
		<img ng-src="{{ version.thumbnail }}" err-src="static/dashboard/images/icons/error-icon.png" alt="{{ version.title }}" />
		<h2>{{ version.title }}</h2>
	</div>
</div>